.icon-box {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-cell {
  width: 1.02em;
  height: 1em;
  fill: currentColor;
}
.icon-elephant {
  width: 1.14em;
  height: 1em;
  fill: currentColor;
}
.icon-next {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-pallet {
  width: 1.55em;
  height: 1em;
  fill: currentColor;
}
.icon-prev {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
